[submodule "tests/videos"]
	path = tests/media/videos
 	url = https://gitlab.com/kicer86/video-files.git
[submodule "tests/audio"]
	path = tests/media/audio
 	url = https://gitlab.com/kicer86/audio-files.git
[submodule "tests/images"]
	path = tests/media/images
 	url = https://gitlab.com/kicer86/image-files.git
